
<div class="result-wrap">
１０問中  ５問正解しました！
がんばりましょう！

    <div class="my-characters">
    

      <div class="character"><%= image_tag("keybo-#{@character.level}.gif")%></div>
      <div class="name"><%= @character.name %></div>
      <div class="level"><%= @character.level %>level</div>
    <div class="r-link">
      <%= link_to "続ける", "/typings" %>
      <%= link_to "辞書に戻る",  posts_index_path %>
    </div>
</div>
