<div class="header">
  <div class="header_logo">
    <div class="header__title__img">
      <%= link_to "/", class: "my-class" do %>
      <%= image_tag("k-#{@character.level}.gif", width: 70, height: 70) %>
      <% end %>
    </div>
    <div class="header__title__logo">
      <%= link_to "MINE TYPING", "/", class: "dot-font", style: "font-size: 50px;" %>
    </div>
  </div>
  <div class="menu-icon">
    <i class="fa-solid fa-bars"></i>
  </div>
</div>
<div class="h-container">
  <nav class="hamburger__nav" style="position: absolute; z-index: 1; display: none">
    <div class="main__nav__items">
      <% nav_items = [
        { link_path: about_path, img_src: "question.png", label: "About" },
        { link_path: typings_path, img_src: "t.png", label: "Typing" },
        { link_path: posts_path, img_src: "book_blue.png", label: "Dictionary" },
        { link_path: "#", img_src: "egg.png", label: "Characters" }
      ] %>
      <% nav_items.each do |nav_item| %>
        <%= link_to nav_item[:link_path], class: "dot-font" do %>
          <%= image_tag(nav_item[:img_src], width: 60, height: 60, style: "vertical-align: middle;") %>
          <span style="font-size: 50px; display: inline-block; vertical-align: middle;"><%= nav_item[:label] %></span>
        <% end %>
      <% end %>
    </div>
  </nav>
</div>
</div>
  </div>
  </nav>
</div>
