<div class="title">
  <h1>Typing Animation</h1>
</div>

<div class="content">

  <div class="box" id="js-target">
    こんにちは
    ボクの名前はkeyboです。
    
    このアプリは自分で辞書を作成できます。
    そして
    その辞書に登録した単語でタイピング練習ができます。
    正解数によってボクは成長します。
    これから一緒に成長していきましょう。
    </div>
</div>

<%= form_with model:Character.new do |form| %>
  <%= form.text_field :name, value: 'keybo' %>
  <%= form.number_field :level, value: 0 %>
  <%= form.number_field :experience, value: 0 %>
  <%= form.submit 'Create Character' %>
<% end %>
