<%= form_with(model: @post, local: true) do |f| %>
<%= render 'shared/error_messages', model: f.object %>
<div class="field" style="text-align: center;">
  <%= f.collection_select :category_id, @categories || [], :id, :name, { prompt: '辞書を選択' }, { class: 'form-control' } %>
</div>
<div class="field" style="text-align: center;">
  <%= f.label :word, "単語・用語" %><br>
  <%= f.text_area :word, class: "form__text", id: "dictionary_word" %>
</div>
<div class="field" style="text-align: center;">
  <%= f.label :mean, "意味" %><br>
  <%= f.text_area :mean, class: "form__text", id: "dictionary_mean" %>
</div>
  <div class="content_save_btn">
    <button class="button-6" role="button"><span>保存する</span></button>
  </div>
<% end %>
<div class="content_return_btn">
  <a href="/posts/index" class="button-6"><span>辞書に戻る</span></a>
</div>
