      <%= form_with(model: @post, local: true) do |f| %>
        <div class="field">
          <%= f.label :word, "単語・用語" %><br>
          <%= f.text_area :word, class: "form__text", id: "dictionary_word" %>
        </div>
        <div class="field">
          <%= f.label :mean, "意味" %><br>
          <%= f.text_area :mean, class: "form__text", id: "dictionary_mean" %>
        </div>
        <div class="content_save_btn">
          <button class="button-6" role="button"><span>保存する</span></button>
        </div>
    <% end %>
