<div class="header">
  <div>
    <%= link_to image_tag("keybo.png"), "/" %>
    <span><%= link_to image_tag("logo.png", width: 410), "/" %></span>
  </div>
  <div class="menu-icon">
    <i class="fa-solid fa-bars"></i>
  </div>
</div>
<%= select_tag(:sort_order, options_for_select([['昇順', 'asc'], ['降順', 'desc']], params[:sort_order]), class: 'form-control') %>

<div class="button-section">
  <a href="/posts/new" class="btn03 pushdown"><span>単語・用語を登録する</span></a>
  <a href="/encyclopediums/index" class="btn03 pushdown"><span>辞書を登録する</span></a>
</div>

<div class="contents">
  <div class="card-wrapper">
    <div class="card-container">
      <% @posts.each do |post| %>
        <div class="card">
          <div class="card__words"><%= post.word %></div>
          <div class="card__means">
            <div class="card__mean"><%= post.mean %></div>
            </div>
          <div class="card__buttons">
            <%= link_to image_tag("edit-btn.png", size: "25x20"), edit_post_path(post), class: "before-btn-edit"%>
            <%= link_to image_tag("delete-btn.png", size: "18x18"), post_path(post), method: :delete, data: { confirm: '本当に削除しますか?' }, class: "btn-delete"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
