  <%= render "shared/header" %>
<body style="background-color: #ABF3E6">

  <div class="button-section">
    <div class="class-select-tab">
    <%= select_tag(:sort_order, options_for_select([['昇順', 'asc'], ['降順', 'desc']], params[:sort_order]), class: 'form-control') %>
    <%= select_tag(:category_id, options_from_collection_for_select(@categories, "id", "name"), prompt: '辞書を絞り込む', class: 'form-control') %> 
    </div>
    <div class="add-btns">
      <a href="/posts/new" class="button-6 button-large"><span>単語を登録する</span></a>
      <a href="/categories/index" class="button-6"><span>辞書一覧</span></a>
    </div>
  </div>

  <div class="card-wrapper">
    <div class="card-container">
      <% @posts.each do |post| %>
        <div class="card">
          <div class="card__words"><%= post.word %></div>
            <div class="card__mean"><%= post.mean %></div>
          <div class="card__buttons">
            <%= link_to image_tag("edit-btn.png", size: "25x20"), edit_post_path(post), class: "before-btn-edit"%>
            <%= link_to image_tag("delete-btn.png", size: "18x18"), post_path(post), method: :delete, data: { confirm: '本当に削除しますか?' }, class: "btn-delete"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</body>
